@model DapperFinal.Models.Student
@if (Model.Id == -1)

{
    <div class="jumbotron text-center"><h5>No Record Found........</h5></div>
}
else
{
    <div>
        <h2>Student</h2>
        <hr>
        <h3>  Name:   @Model.Name  </h3>
        
        <h3>  Gender:   @Model.Gender  </h3>
       
        <h3>  Age:   @Model.Age  </h3>
    </div>
    <p>

        @Html.ActionLink("GO BACK", "BackButton", "Route")
    </p>
    @Html.ActionLink("GO BACK TO MENU PAGE", "BackButtonForMenu", "Route")
}